{% extends '/common/layout.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="row col-sm-12">
            <div class="card card-login">
                <div class="card-body">
                    <h1>Inscription</h1>
                    <div class="form-group">
                        {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.password) }}
                            <button type="submit" class="btn btn-success">Inscription</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>    
    </div>
{% endblock %}