{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des Clients</h1>

<h3><a href="{{path('customer_create')}}" class="btn btn-outline-secondary">Nouveau Client</a></h3>
<table>
    <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Tel</th>
    <th>Date anniversaire</th>
    <th>Bon de reduction</th>
    <th>Détails/modifications</th>
    <th>Supprimer</th>
    </tr>
    {% for customer in customers %}
    <tr>
    <td>{{customer.id}} {{ customer.firstname }}</td>
    <td>{{ customer.lastname }}</td>
    <td>{{ customer.phone }}</td>
    <td>{{ customer.BirthDate ? customer.BirthDate|date('d/m/Y') : '' }}</td>
    <td>{{customer.BirthDate ? ((customer.BirthDate|date('d/m'))==("now"|date('d/m')) ? 'imprimer le BR' :'') : '' }}</td>
    <td><a href="{{path('customer_edit',{'id': customer.id})}}" class="btn btn-outline-secondary">Voir/Modifier</a></td>
    <td><a href="#" class="btn btn-danger">Supprimer</a></td>
    </tr>
    {% endfor %}
 
    
  </table>


{% endblock %}

